<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ParsnipDb" connectionString="Server=198.38.83.200;Database=vamon112_theparsnip_test;Uid=vamon112_theparsnip_test;Password=Fz^kfdbNP5L1t$k@" />
  </connectionStrings>
  <appSettings>
    <add key="WebsiteUrl" value="test.theparsnip.co.uk" />
    <add key="FtpUrl" value="ftp://198.38.83.81:21" />
    <add key="FtpUsername" value="vamon112" />
    <add key="FtpPassword" value="Gv9xIWkOOD2l" />
    <add key="RemoteOriginalsDir" value="Resources/Media/Videos/Originals" />
    <add key="RemoteCompressedDir" value="Resources/Media/Videos/Compressed" />
    <add key="RelativeLocalOriginalsDir" value="Originals" />
    <add key="RelativeLocalCompressedDir" value="Compressed" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>