<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ParsnipDb" connectionString="Server=BEN-SERVER\SQLEXPRESS2016;Database=theparsnip_local;Uid=NetworkSqlUser;Password=BBTbbt1704" />
  </connectionStrings>
  <appSettings>
    <add key="WebsiteUrl" value="" />
    <add key="FtpUrl" value="" />
    <add key="FtpUsername" value="" />
    <add key="FtpPassword" value="" />
    <!--<add key="LocalWebsiteDir" value="D:/IIS Sites/LocalParsnipWebsite/" />-->
    <add key="LocalWebsiteDir" value="C:/git/TheParsnipWebsite/ParsnipWebsite/" />
    <add key="NumberOfGeneratedThumbnails" value="6" />
    <add key="MaxShortSide" value="720" />
    <add key="CompressionLevel" value="22" />
    <add key="RemoteOriginalsDir" value="Resources/Media/Videos/Originals" />
    <add key="RemoteCompressedDir" value="Resources/Media/Videos/Compressed" />
    <add key="RemoteThumbnailsDir" value="Resources/Media/Videos/Thumbnails" />
    <add key="RelativeLocalThumbnailsDir" value="Thumbnails" />
    <add key="RelativeLocalOriginalsDir" value="Originals" />
    <add key="RelativeLocalCompressedDir" value="Compressed" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>